<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain table-plain-bg">
                    <div class="card-header ">
                        <h4 class="card-title">KHOÁ HỌC ĐÃ MUA</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <th></th>
                                <th>Tên khoá học</th>
                                <th>Giá đã mua</th>
                                <th>Giáo viên</th>
                                <th>Chi tiết khoá học</th>
                            </thead>
                            <tbody>
                                {{#if khoahoc}}
                                    {{#each khoahoc}}
                                        <tr>
                                            <td width="15%"> <a href="/products/{{Product.id}}/productchild"><img
                                                        src="{{Product.imagepath}}" width="70" height="70"></a> </td>
                                            <td width="30%"><a href="/products/{{Product.id}}/productchild">{{Product.name}}</a></td>
                                            <td width="15%"><a href="/products/{{Product.id}}/productchild">${{Product.price}}</a></td>
                                            <td width="25%"><a href="/products/{{Product.id}}/productchild">{{Product.Teacher.fullname}}</a></td>
                                            <td width="20%" ><a href="/products/{{Product.id}}" style="display: flex;justify-content: center;align-items :center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up" viewBox="0 0 16 16">
                                                                                            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
                                                                                            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                                                                            </svg></i></a></td>
                                                

                                    <div class="text-center">
                                    </div>
                                            </td>
                                        </tr>
                                    {{/each}}
                                {{else}}
                                    <h2> Bạn chưa mua khoá học nào</h2>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div> 
