<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain table-plain-bg">
                    <div class="card-header ">
                        <h4 class="card-title">CHI TIẾT BÀI HỌC</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <th>Tên bài học</th>
                            </thead>
                            <tbody>
                                {{#each detailcourse}}
                                    <tr>
                                        <td ><a href="/products/productchild/video/{{id}}">{{name}}</a></td>
                                         {{#if States}}
                                            <td ><a href="/products/productchild/video/{{id}}"> Đã học </a></td>
                                            {{else}}
                                            <td ><a href="/products/productchild/video/{{id}}"> Chưa học </a></td>
                                            {{/if}}
                                        <td>
                                            <div class="text-center">
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div> 
