<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="card strpied-tabled-with-hover col-5">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-9">
                                <h4 class="card-title">COURSES</h4>
                            </div>
                            <div class="col-3">
                                <form action="/teacher/addkhoahoc" method="POST" enctype="multipart/form-data">
                                    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog"
                                        aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title w-100 font-weight-bold">Thêm Khoá Học</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body mx-3">
                                                    <div class="md-form mb-5">
                                                        <label data-error="wrong" data-success="right"
                                                            for="defaultForm-email">Tên Khoá Học</label>
                                                        <input type="text" name="name" id="name"
                                                            class="form-control validate">
                                                    </div>
                                                    <div class="md-form md-5">
                                                        <label data-error="wrong" data-success="right"
                                                            for="orangeForm-email">GIÁ</label>
                                                        <input type="text" name="gia"
                                                            class="form-control validate">
                                                    </div>
                                                    <div class="md-form md-5">
                                                        <div class="form-group">
                                                            <label for="giaovien">CATEGORY</label>
                                                            <select class="form-control" name="categoryid"
                                                                id="categoryid">
                                                                {{#each Category}}
                                                                <option value="{{id}}">{{name}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="md-form md-5">
                                                        <div class="form-group">
                                                            <label for="giaovien">TOPIC</label>
                                                            <select class="form-control" name="topicid"
                                                                id="topicid">
                                                                {{#each Topic}}
                                                                <option value="{{id}}">{{name}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="md-form md-5">
                                                        <label data-error="wrong" data-success="right"
                                                            for="orangeForm-email">CHI TIẾT</label>
                                                        <input type="text" name="chitiet"
                                                            class="form-control validate">
                                                    </div>
                                                    <div class="md-form md-5">
                                                        <label data-error="wrong" data-success="right"
                                                            for="orangeForm-email">TỔNG QUAN</label>
                                                        <textarea name="tongquan"
                                                            class="md-textarea form-control"
                                                            rows="5"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="file" class="form-control" id="avatar" name="avatar" >	
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button type="submit" value="submit" class="btn btn-default">Thêm</button>
                                                </div>
                                            </div>
                                             
                                        </div>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal"
                                        data-target="#modalLoginForm">Create</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain table-plain-bg">
                    <div class="card-header ">
                        <h4 class="card-title">KHOÁ HỌC</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>

                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <th></th>
                                <th>Category</th>
                                <th>Topic</th>
                                <th>Name</th>
                                <th>Price</th>
                            </thead>
                            <tbody>
                                {{#each ProductOfTeacher}}
                                <tr>
                                    <td> <a href="/products/{{id}}"><img
                                                src="{{imagepath}}" width="70" height="70"></a> </td>
                                    <td><a href="/products/{{id}}">{{Category.name}}</a></td>
                                    <td><a href="/products/{{id}}">{{Topic.name}}</a></td>
                                    <td><a href="/products/{{id}}">{{name}}</a></td>
                                    <td><a href="/products/{{id}}">{{price}}</a></td>
                                    <td>
                                        <div class="modal fade" id="addbh{{id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <form action="/teacher/addbaihoc" method="POST" enctype="multipart/form-data">
                                                    <div class="modal-content">
                                                        <div class="modal-header text-center">
                                                            <h4 class="modal-title w-100 font-weight-bold">Thêm bài học
                                                                vào khoá học : 
                                                                {{name}}
                                                            </h4>

                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body mx-3">
                                                            <div class="md-form md-5">
                                                                <label data-error="wrong" data-success="right"
                                                                    for="orangeForm-name">Tên bài: </label>
                                                                <input type="text" name="ten"
                                                                    class="form-control validate">
                                                            </div>
                                                            <div class="md-form md-5">
                                                                <label data-error="wrong" data-success="right"
                                                                    for="orangeForm-email">Video</label>
                                                                <input type="file" name="video"
                                                                    class="form-control validate">
                                                            </div>
                                                            <input type="hidden" id="courseid" name="courseid"
                                                                value="{{id}}">
                                                        </div>
                                                        <div class="modal-footer d-flex justify-content-center">
                                                            <button type="submit"
                                                                class="btn btn-deep-orange">THÊM</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            {{!-- <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal"
                                                data-target="#modalRegisterForm"></a> --}}
                                            <i class="fa fa-plus" data-toggle="modal" data-target="#addbh{{id}}"
                                                aria-hidden="true"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <form method="post" action="/teacher/delete/course/{{id}}">
                                                <button type="submit" class="btn btn-outline-danger" title="Delete">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                    </svg> 
                                                </button>
                                        </form>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
